// カテゴリー一覧ページ
.categories{
  background-color: #eee;

  .categories_lists{
    width: 900px;
    margin: 0 auto;
    display: flex;
    overflow: scroll;
  
    .parents{
      width: 100%;
      background-color: #fff;
      font-size: 30px;
      border: springgreen 1px solid;
      margin-right: 20px;
      text-align: center;

      .categories__children{
        width: 250px;
        word-break: keep-all;
        border: blue 1px solid;
        font-size: 24px;
        text-align: start;

        .children{
          padding: 5px;
          border: yellow 1px solid;
        }
        

        .categories__grandchildren{
          font-size: 20px;
          border: red 1px solid;

          .child{
            display: flex;
            justify-content: start;
            margin-top: 10px;
          }
        }
      }
    }
  }
  a:hover {
    color: #3ccace;
  }
}

.categories-title{
  text-align: center;

  h1{
    font-size: 40px;
  }
}

// 子,孫カテゴリー一覧
.category_show{
  background-color: #eee;

  .category_links{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  a:hover {
    color: #3ccace;
  }
}

.category-container{
  width: 800px;
  height: 400px;
  margin: 0 auto;
  text-align: center;

  .category-index{
    font-size: 30px;
  }
}

.links{
  width: 800px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}