.items_header {
  background-color: #ffffff;
  
  &__inner{
    width: 800px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;


    .icon {
      padding-bottom: 10px;
      
      .header_logo {
        width: 100px;
        height: 40px;

        a{
          width: 100%;
          height: 100%;
        }
      }
    }

    h1{
      font-size: 40px;
      font-family: fantasy;
    }
  }

  .header_list{
    display: flex;
    justify-content: end;
    border-bottom: solid 1px #eee;

    .search__box {
      height: 50px;
      width: 800px;
      margin: 0 auto;

      &__input {
        width: calc(100% - 36px);
        height: 36px;
        padding: 0 0 0 5px;
      }

      &__btn {
        width: 30px;
        height: 36px;
        border: 0;
        padding: 8px;
        background-color: #3ccace;

        .seach_icon {
          width: 100%;
          height: 20px;
          vertical-align: bottom;
        }
      }
    }

    .mypage_link{
      margin-right: 30px;
      height: 36px;
      line-height: 36px;
      background-color: #ff0000;
      color: #ffffff;

      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

