.mypage{
  padding: 20px;

  &__header{
    width: 100%;

    &__title{
      width: 800px;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: center;


      .icon {
        padding-bottom: 10px;
        
        .header_logo {
          width: 100px;
          height: 40px;

          a{
            width: 100%;
            height: 100%;
          }
        }
      }
      h1{
        font-size: 40px;
        font-family: fantasy;
      }
    }

    .header_list{
      border-bottom: solid 1px #eee;
      height: 50px;
      margin-bottom: 20px;
  
      .search__box {
        height: 50px;
        width: 800px;
        margin: 0px auto;

  
        &__input {
          width: calc(100% - 50px);
          height: 40px;
          padding: 0 0 0 5px;
        }
  
        &__btn {
          width: 40px;
          height: 40px;
          border: none;
          background-color: #3ccace;
          cursor: pointer;
  
          .seach_icon {
            width: 100%;
            height: 20px;
            vertical-align: bottom;
          }
        }
      }
    }
  

    &__contents{
      width: 850px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      &__myname{
        height: 50px;
        font-size: 25px;
        background-color: #3ccace;
        color: #ffffff;
        border: 1px #3ccace solid;
        border-radius: 100px;
        text-align: center;
        line-height: 50px;
        display: flex;
        justify-content: center;
      }

      &__out{
        height: 50px;
        width: 150px;
        font-size: 25px;
        background-color: #ff0033;
        text-align: center;
        line-height: 50px;
        border-radius: 100px;
        color: #ffffff;

        a{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__main{
    padding-top: 50px;

    &__btns{

      &__product{
        height: 50px;
        display: flex;
        justify-content: space-around;

        &__left{
          width: 350px;
          background-color: #33ffff;
          font-size: 30px;
          text-align: center;
          line-height: 50px;
          box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.16);
          border: groove;
        }

        &__right{
          width: 350px;
          background-color: #33ff66;
          font-size: 30px;
          text-align: center;
          line-height: 50px;
          box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.16);
          border: groove;
        }
      }

      &__myuser{
        margin-top: 30px;
        height: 50px;
        display: flex;
        justify-content: space-around;

        &__left{
          width: 350px;
          background-color: #33ffff;
          font-size: 30px;
          text-align: center;
          line-height: 50px;
          box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.16);
          border: groove;
        }

        &__right{
          width: 350px;
          background-color: #ccc;
          font-size: 30px;
          text-align: center;
          line-height: 50px;
          box-shadow: 0 0 3 3 rgba(0, 0, 0, 0.16);
          border: groove;
        }
      }
    }
  }
  a{
    display: block;
    width: 100%;
    height: 100%;
  }

  .my_lists__main{
    margin-top: 20px;
    border-top: 1px #eee solid;

    &__list{
      border-bottom: 1px #eee solid;

      h1{
        text-align: center;
        height: 50px;
        font-size: 40px;
        padding: 5px;
      }

      .container{
        border-top: 1px #eee solid;
        margin: 10px auto;
        display: flex;
        overflow: scroll;

        &__box{
          width: 240px;
          padding: 10px;
          background-color: #eee;

          .list__image {
            width: 220px;
            height: 150px;
            object-fit: cover;
          }

          .list__main{
            background-color: white;
            padding: 16px;
            color: #333;

            &__name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
            }

            &__details{
              height: 100%;

              ul{

                li{
                  display: flex;
                  justify-content: space-between;
                  font-size: 15px;
                  margin: 2px 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

