* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.top__footer {
  background-color: #272727;
  padding: 60px 0;
  color: #ffffff;
  list-style: none;
  text-align: center;

  &__main {
    display: flex;
    margin: auto;
    max-width: 840px;

    .content__box {
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      .content__head {
        margin: 0 0 20px;
        font-weight: bold;
      }
      .content__sub {
        font-size: 12px;
        line-height: 32px;
      }
      .content__sub a:hover {
        text-decoration: underline;
      }
    }
  }
}