.top__footer
  .top__footer__main
    .content__box
      %h2.content__head
        HiBi管について
      %li.content__sub
        =link_to "作成者紹介",'/#'
      %li.content__sub
        =link_to "プライバシーポリシー",'/#'
      %li.content__sub
        =link_to "HiBi管利用規約",'/#'
    .content__box
      %h2.content__head
        HiBi管を見る
      %li.content__sub
        =link_to "ユーザーおすすめ一覧",'/#'
      %li.content__sub
        =link_to "よくある質問一覧",'/#'
    .content__box
      %h2.content__head
        ヘルプ＆ガイド
      %li.content__sub
        =link_to "お問い合わせ",'/#'
      %li.content__sub
        =link_to "ロゴ利用ガイドライン",'/#'
      %li.content__sub
        =link_to "お知らせ",'/#'